---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <div class="logo">
        <img src="/assets/htj-logo.png" width="30%" alt="HypeTech Jobs logo" />
        <img src="/assets/htj-text-logo-dark.png" width="50%" alt="HypeTech Jobs logo" />
    </div>
    <h4>
        <code>We are taking time off 🏝️</code>
    </h4>
    <code>
        This was not a decision we took lightly, but we believe it is the right one. Taking time off was a necesary step
        to improve our services and to make sure we can provide you with the best experience possible. We are on a
        mission making your job search much easier 🚀. While you wait, you can stay connected with us on our social
        media profiles. Exciting things are on the horizon! Stay tuned!
    </code>
    <div class="social-media">
        <a
            href="https://www.facebook.com/hypetechjobs"
            target="_blank"
            data-tooltip="Facebook"
            rel="noopener noreferrer"
        >
            <img src="/assets/brand-facebook.svg" alt="Facebook" />
        </a>
        <a
            href="https://www.instagram.com/hypetechjobs"
            target="_blank"
            data-tooltip="Instagram"
            rel="noopener noreferrer"
        >
            <img src="/assets/brand-instagram.svg" alt="Instagram" />
        </a>
        <a
            href="https://www.linkedin.com/company/hypetechjobs"
            target="_blank"
            data-tooltip="LinkedIn"
            rel="noopener noreferrer"
        >
            <img src="/assets/brand-linkedin.svg" alt="LinkedIn" />
        </a>
        <a href="https://twitter.com/hypetechjobs" target="_blank" data-tooltip="Twitter" rel="noopener noreferrer">
            <img src="/assets/brand-twitter.svg" alt="Twitter" />
        </a>
    </div>
    <div class="social-media">
        <a
            href="https://hypetechjournal.substack.com/"
            target="_blank"
            data-tooltip="HypeTech Journal"
            rel="noopener noreferrer"
        >
            <img src="/assets/news.svg" alt="HypeTech Journal" />
        </a>
        <a
            href="https://education.hypetech.io"
            target="_blank"
            data-tooltip="HypeTech Education"
            rel="noopener noreferrer"
        >
            <img src="/assets/books.svg" alt="HypeTech Education" />
        </a>
        <a href="https://hypetech.io" target="_blank" data-tooltip="HypeTech Development" rel="noopener noreferrer">
            <img src="/assets/apps.svg" alt="HypeTech Development" />
        </a>
    </div>
    <span class="copy">
        Made with
        <span style="color: #e25555;">&hearts;</span>
        by
        <a href="https://hypetech.io" target="_blank" class="secondary" rel="noopener noreferrer"> HypeTech</a>
    </span>
</Layout>
